$o-navbar-badge-bg: #ef4444;
$o-navbar-badge-color: #ffffff;
$o-view-background-color: #f8fafc;
$o-form-sheet-min-width: 990px;
$o-border-radius: 8px;
$o-border-radius-lg: 12px;
$o-border-radius-sm: 6px;
